<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.ai.dobbydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.tencent.ai.tvs.dmsdk.demo.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.tencent.ai.tvs.dmsdk.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.WebActivity"
            android:label="@string/module_web"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.WebDemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.offlineweb.OfflineWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.offlineweb.OfflineAlbumActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

    </application>
</manifest>
